/* user-profile container */
.user-profile {
    text-align: center;
    margin-top: 20px;
}

/* user image */
.user-profile img {
    width: 100px; 
}

/* User Name */
.user-profile p {
    font-size: 1.5em;
    margin: 10px 0;
}

.button-container {
    margin-top: 1em;
}

.round-button {
    border-color: transparent;
    border-radius: 10px;
    background-color: #e8dbc7;
    padding: 10px 20px;
    margin: 5px;
    font-size: 1em;
}

.round-button:hover {
    background-color: #D2C1AA;
}

.circular {
    width: 100px; 
    height: 100px;
    object-fit: cover; 
    border-radius: 50%; 
    margin-bottom: 0;
}

.link-container {
    margin-top: 3em;
}

.link-container a {
    text-decoration: none;
    color: #443729; 
    margin: 1em;
}

hr {
    border: none;
    border-top: 1px solid #886540; 
    width: 30%;
    margin-top: 1em;
}
/* Add your CSS styles here */
.selected-link {
    padding: 0.5em;
    margin-bottom: 0.1em;
    background-color: #e8dbc7;
    border-radius: 7px;
}

.user-post {
    text-align: center;
    margin: 2em auto; /* Set margin to 'auto' to horizontally center the container */
    width: 80%;
}

.post-table {
    display: inline-block;
    width: calc(30% - 2em); 
    margin: 1em 0.5em; 
    vertical-align: top; 
    text-align: center;
}


.post-table tr:nth-child(odd) {
    background-color: #D2C1AA;
}

.post-table tr:nth-child(even) {
    background-color: #F3E4CD;
}

.post-table td {
    padding: 10px;
}



