/* Specify the width and padding for the search input */
.greeting{
    padding-left: 0.75em;
}

.mainSearch input[type="text"] {
    width: 93%;
    padding: 0.625em;
    border-radius: 0.625em;
    border: 1px solid #000000; /* Set border width and color */
    background-color: #f8f5ee;
    font-family: 'Montserrat';
}

/* Display the search bar in a flex grid and move it to the center, add padding from the header */
.mainSearch {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    padding-top: 2.5em;
    padding-left: 1em;
}

/* Ensure that all h1 and h2 elements use the 'Aboreto' font */
h1, h2 {
    font-family: 'Aboreto';
}

/* Ensure that all body text uses the 'Montserrat' font and set the background color */
body {
    font-family: 'Montserrat';
    margin: 0;
    padding: 0;
    background-color: #f8f5ee;
}

/* Style for tables in the commentTable and postTable */
.commentTable table,
.commentTable th,
.commentTable td,
.postTable table,
.postTable th,
.postTable td {
    background-color: #F9EDE2;
    border: 1px solid #000;
}

/* Ensure that the table in the usersOnPlatform class is styled correctly */
.usersOnPlatform table {
    width: 98%;
    text-align: left;
    margin-left: 1em;
    margin-bottom: 2.5em;
    overflow: none;
}

.usersOnPlatform table tr[id="tableData"] {
    background-color: #f4e5ce;
}

.usersOnPlatform table, .usersOnPlatform th {
    padding-bottom: 0.625em;
}

.usersOnPlatform table tr[id="tableData"]:hover {
    background-color: #D3C1Ab;
}

.usersOnPlatform table td {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

/* Set a fixed width for cells in comment and post tables */
.commentTable table,
.commentTable th,
.commentTable td,
.postTable table,
.postTable th,
.postTable td {
    width: 50%; /* Adjust the width as needed */
    padding: 8px; /* Add padding to the cells */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

.adminBackButton{
    display: inline-block;
    padding: 10px 20px;
    background-color: #f4e5ce;
    color: black;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px; 
    margin-left: 1em;
}

.adminBackButton:hover {
    background-color: #D3C1Ab;
}


/* Ensure that the footer text content is centered and set the background color */
footer {
    text-align: center;
    padding: 1.25em;
    background-color: #f4e5ce;
}

/* Media query for mobile devices */
@media only screen and (max-width: 600px) {
    /* Adjust padding for greeting */
    .greeting {
        padding-left: 0.5em; /* Adjust padding for mobile */
    }

    /* Adjust the width and padding for the search input on mobile */
    .mainSearch input[type="text"] {
        width: 80%; /* Adjust the width for mobile */
        padding: 0.5em; /* Adjust padding for mobile */
    }

    /* Adjust padding for mainSearch */
    .mainSearch {
        padding-top: 1em; /* Adjust padding for mobile */
        padding-left: 0.5em; /* Adjust padding for mobile */
    }

    /* Center the navigation items on mobile */
    nav ul {
        padding-right: 1em; /* Adjust padding for mobile */
        justify-content: center;
    }

    /* Adjust the width of the table in usersOnPlatform for mobile */
    .usersOnPlatform table {
        width: 100%; /* Adjust width for mobile */
        margin-left: 0; /* Remove margin for mobile */
    }

    /* Adjust padding for table cells in usersOnPlatform for mobile */
    .usersOnPlatform table td {
        padding: 0.5em; /* Adjust padding for mobile */
    }

    .adminBackButton{
        display: inline-block;
        padding: 10px 20px;
        background-color: #f4e5ce;
        color: black;
        text-decoration: none;
        border-radius: 5px;
        margin-top: 10px;
    }
}
