.done-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.5em;
}

button {
  border-color: #e8dbc7;
  border-radius: 10px;
  background-color: #e8dbc7;
  padding: 10px 20px;
  margin: 5px;
  font-family: "Montserrat";
  font-size: 1em;
}

button:hover {
  background-color: #d2c1ab;
}

.category-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.category-preferences1 {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  margin-right: 50px;
}

.category-preferences2 {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  margin: 0.5em;
  margin-left: 50px;
}

input[type="checkbox"] {
  margin-top: 1em;
  margin-bottom: 1em;
}


@media only screen and (max-width: 600px) {

  .category-preferences1{
    margin-right: 0px;
    padding-left: 2em;
  }
 
}
