.user-profile {
    width: 100%;
    margin: 2em;
}

.user-profile img {
    width: 10em; 
}

.user-profile p {
    font-size: 1.5em;
    margin: 10px 0;
}

label {
    width: fit-content;
    margin: 0.5em;
    font-weight: bold;
}

input {
    width: fit-content;
}

#changeBtn {
    border-color: transparent;
    border-radius: 0.5em;
    background-color: #e8dbc7;
    padding: 0.3em;
    font-size: 0.8em;
}

#changeBtn:hover {
    background-color: #d2c1ab;   
}

.buttons {
    border-color: transparent;
    border-radius: 10px;
    background-color: #e8dbc7;
    padding: 0.5em 1em;
    margin-top: 2em;
    margin-right: 1em;
    font-size: 1em;
}

.buttons:hover {
    background-color: #d2c1ab;
}

input {

    background-color: transparent;
    border: none;
    width: fit-content;
    border-bottom: #d2c1ab 0.1em solid;
}

input:focus {
    outline-width: 0.5em;
    outline-color: #d2c1ab;
}


#profile-details {
    width: 80%;
    margin: 0 auto; 
}


.user-profile {
    text-align: left;
    margin-top: 20px;
}

.user-profile img.circular {
    width: 100px; 
    height: 100px;
    object-fit: cover; 
    border-radius: 50%; 
    margin-bottom: 0;
}

.profile-field {
    margin-top: 1em;
    margin-bottom: 1em;
}

.profile-field input {
    padding: 0.3em;
}

#userNames {
    display: flex;
    justify-content: flex-start;
    gap: 2em;
}

#userPw {
    display: flex;
    justify-content: flex-start;
    gap: 0;
}

#interest-field{
    display: flex;
    justify-content: flex-start;
    gap: 0;
}

#interest-field div {
    margin-top: 1em;
    margin-right: 3em;
}

#interest-field label {
    font-weight: lighter;
}

.profile-field {
    display: flex; 
    align-items: center; 
}

.profile-field .helpIcon {
    width: 1em;
}

.profile-field img,
.profile-field p {
    margin: 0;
    margin-right: 5px; 
}

.profile-field p {
    opacity: 0; 
    font-size: 0.7em;
    width: fit-content;
    max-width: 15em;
    padding: 1em;
    transition: opacity ease-in-out 0.3s;
}

.profile-field .helpIcon:hover + p {
    opacity: 1; 
    background-color: white;
  
}

.required.highlight {
    background-color: #F9EDE2 !important;
}

input[type="file"] {
    display: none;
}

.file-upload-button {
    display: inline-block;
    font-size: 0.8em;
    background-color: #e8dbc7; 
    color: #443729; 
    padding: 4px 7px; 
    cursor: pointer;
    border: none;
    border-radius: 5px;
    margin: 0px;
    transition: background-color 0.3s;
}

.file-upload-button:hover {
    background-color: #d2c1ab;
}

.backButtonAccount{
    display: inline-block;
    padding: 10px 20px;
    background-color: #f4e5ce;
    color: black;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px; 
    margin-left: 1em;
    width: fit-content;
  }
  
  .backButtonAccount:hover {
    background-color: #D3C1Ab;
  }
  

@media screen and (max-width: 600px) {
    #userNames, #userPw, #interest-field {
        display: block;
    }

    .user-profile {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    input {
        background-color: transparent;
        border: none;
        width: fit-content;
        max-width: 7.5em;
        border-bottom: #d2c1ab 0.1em solid;
    }

    .profile-field {
        display: block;
    }

    .profile-field p {
        display: block;
        margin: 0.5em 0 0 0;
        opacity: 0; 
        font-size: 0.7em;
        width: fit-content;
        max-width: 15em;
        padding: 1em;
        transition: opacity ease-in-out 0.3s;
    }

}



