h3{
  text-align: center;
}

/* Login Container */
#loginsection{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Username and Password Inputs */
.username-input,
.password-input {
  display: flex;
  flex-direction: column;
  font-family: "Montserrat";
  order: 1;
  margin: 0.25em;
  padding: 1em;
  border-radius: 10px;
  position: relative;
  border-color: #D3c1ab;
}

#not-a-user, .forgotPass, .signup-guest {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: smaller;
}

.login-button{
  margin-left: 4.25em;
}

button {
  order: 1;
  border-color: #e8dbc7;
  border-radius: 10px;
  background-color: #e8dbc7;
  margin: 5px;
  padding: 0.5em 0.5em;
  font-size: 1em;
  font-family: "Montserrat";
}

button:hover {
  background-color: #d2c1ab;
}

/* TOOLTIP STYLES */

.tooltip-username, .tooltip-password{
  position: relative;
  float: right;
  bottom: 2em;
}

.tooltip-message {
  background-color: #ffffff;
  color: #000000;
  text-align: center;
  border-radius: 10px;
  position: absolute;
  z-index: 1;
  padding: 0.5em;
  font-size: 0.7em;
  top: 50%;
  opacity: 0;
  transition: opacity ease-in-out 0.3s;
  max-width: 20em;
  width: max-content;
}

.tooltip-username:hover .tooltip-message,
.tooltip-password:hover .tooltip-message {
  opacity: 1;
}

.help-icon {
  width: 16px;
  /* Set the width of the image */
  height: 16px;
  /* Set the height of the image */
}

@media only screen and (max-width: 600px) {
  .tooltip-message{
    font-size: x-small;
    max-width: 5em;
    width: max-content;
  }
}
