/* changes the bkg colour of the header and sets the "iblogs" text to 
be in the center of the header */
/* header {
    background-color: #f4e5ce;
    padding: 0.625em;
    text-align: center;
} */

/* styles the menu for the login and sign up buttons
on the RHS with no bullet points */
/* nav ul {
    list-style: none;
    display: flex;
    justify-content: right;
} */

/* moves the menu with the login and sign up buttons to the right*/
/* nav li {
    margin-right: 0.9375em;
} */

/* sets the menu items login and sign up to be black font */
/* nav a{
    color:black;
} */

/* removes the underline from the menu links when visited, 
hovered over, or active */
/* nav a:link, a:visited, a:hover, a:active { 
    text-decoration: none; 
}  */

.mainSearch input{
    width: 93%;
    padding: 0.625em;
    border-radius: 0.625em;
    border-width: 0.13em;
    border-color:#000000;
    background-color:#f8f5ee;
    font-family: 'Montserrat';
}

/* puts the search bar in a flex grid and moves it to the center,
also adds padding from the header */
.mainSearch{
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    padding-top: 2.5em;
    padding-left: 1em;
}

.greeting{
    margin-left: 1em;
}

/* sets all h1's to be in font Aboreto */
h1, h2{
    font-family: 'Aboreto';
}

/* sets all body text to be in font montserrat 
and changes bkg colour */
body {
    font-family: 'Montserrat';
    margin: 0;
    padding: 0;
    background-color: #f8f5ee;
}

/* sets table to be 100% of the screen's width, aligns content to the left,
and any overflowing content is set to scroll */
table{
    width: 98%;
    text-align: left;
    margin-left: 1em;
    margin-bottom: 2.5em;
    overflow: none;
}

table tr[id="tableData"]:nth-child(even){
    background-color:#f4e5ce;
}

table th{
    padding-bottom: 0.625em;
}

table tr[id="tableData"]:hover{
    background-color: #D3C1Ab;
}

table td{
    padding-top: 0.5em;
    padding-bottom: 0.5em
}

/* moves footer text content to the center and changes 
the bkg colour of the footer*/
footer {
    text-align: center;
    padding: 1.25em;
    background-color: #f4e5ce;
}

/* ------------------------------------------------------------------ */

@media only screen and (max-width: 600px) {
    nav ul{
        padding-right:1.75em;
        justify-content: center;
    }

    /* Responsive search bar styles for mobile */
    .mainSearch input {
        width: 80%; /* Adjusting width for mobile */
    }

    .mainSearch {
        padding-top: 1.5em; /* Adjusting padding for mobile */
    }
}/* end media query for mobile */